@font-face {
	src: url('/fonts/Inter-Regular.woff2') format('woff2');
	font-family: Inter;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
	font-family: Inter;
	font-weight: 600;
	font-display: swap;
}
