html {
	box-sizing: border-box;
	text-size-adjust: none;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
	max-block-size: 100%;
	max-inline-size: 100%;
}

a,
button {
	cursor: pointer;
}

ol,
ul,
menu,
summary {
	list-style: none;
}

table {
	border-collapse: collapse;
}

input,
textarea {
	user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	appearance: revert;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio, svg *, symbol *)) {
	all: unset;
	display: revert;
}

:where(pre) {
	all: revert;
	box-sizing: border-box;
}

::placeholder {
	color: unset;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	user-select: auto;
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
}

:where([draggable='true']) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
	box-sizing: border-box;
}

::-webkit-details-marker {
	display: none;
}
