---
import Layout from '../layouts/Layout.astro'
---

<Layout title="sonniy's Astro Starter">
	<main class="main">
		<h1>Тестовый текст</h1>
		<img src="images/preview.jpg" width="800" height="600" alt="Обложка" />
	</main>
</Layout>

<style>
	h1 {
		font-size: 32px;
		color: darkgoldenrod;
	}
</style>
