---
import Preview from '@assets/preview.jpg'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title="sonniy's Astro Starter">
	<main class="main">
		<div class="container">
			<h1>Тестовый текст</h1>
			<Image src={Preview} alt="Обложка" loading="eager" />
		</div>
	</main>
</Layout>

<style>
	.main {
		display: flex;
	}

	h1 {
		font-size: 32px;
		color: darkgoldenrod;
	}
</style>
