---
import Preview from '@/assets/preview.jpg'
import Section from '@/components/ui/Section.astro'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title="sonniy's Astro Starter">
	<Section>
		<div class="container">
			<h1>Тестовый текст</h1>
			<Image src={Preview} alt="Обложка" loading="eager" />
		</div>
	</Section>
</Layout>
