---
import '@styles/fonts.css'
import '@styles/reset.css'
import '@styles/vars.css'
import '@styles/settings.css'

interface Props {
	title: string
	description?: string
	image?: string
}

const { title, description, image = '/images/preview.jpg' } = Astro.props
---

<head>
	<meta charset="UTF-8" />
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="icon" href="/favicon/favicon.ico" sizes="32x32" />
	<link rel="icon" href="/favicon/favicon.svg" sizes="any" type="image/svg+xml" />
	<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
	<meta property="og:image" content={image} />
	<title>{title}</title>
</head>

<script>
	import '@scripts/love.js'
</script>
