---
import Footer from '@/components/sections/Footer.astro'
import Header from '@/components/sections/Header.astro'
import Head from '@/components/Head.astro'

const { title, description, image } = Astro.props
---

<html lang="ru" class="page">
	<Head title={title} description={description} image={image} />
	<body class="page__body">
		<div class="site-container">
			<Header />
			<main class="main">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
