---
import '@styles/reset.css'
import '@styles/vars.css'
import '@styles/fonts.css'
import '@styles/settings.css'
import '@scripts/love.js'

import Head from '@components/Head.astro'

const { title, description, image } = Astro.props
---

<html lang="ru" class="page">
	<Head title={title} description={description} image={image} />
	<body class="page__body">
		<div class="site-container">
			<slot />
		</div>
	</body>
</html>
