---
import type { HTMLAttributes } from 'astro/types'
type Props = HTMLAttributes<'section'>

const { class: className, ...rest } = Astro.props
---

<section class:list={['section', className]} {...rest}>
	<slot />
</section>

<style is:global>
	.section {
		display: flex;
	}
</style>
